<section id="add">
    <div class="container">
        <h2>Add Job Posting</h2>
        <div class="row">
            <div class="form-wrap">
                <p>Your contact email will be shared with registered users to apply to your job</p>
                <form action="/gigs/add" method="POST">
                    <div class="input-group">
                        <label for="title">Job Title</label>
                        <input type="text" name="title" id="title" class="input-box" placeholder="Small website on wordpress">
                    </div>
                    <div class="input-group">
                        <label for="technology">Technologies Required</label>
                        <input type="text" name="technology" id="technology" class="input-box" placeholder="technology needed for this job">
                    </div>
                    <div class="input-group">
                        <label for="budget">Budget (Leave blank for unknown)</label>
                        <input type="text" name="budget" id="budget" class="input-box" placeholder="Small website on wordpress">
                    </div>
                    <div class="input-group">
                        <label for="description">Job Description</label>
                        <textarea type="text" name="description" id="description" class="input-box" placeholder="describe job responsibility"
                            rows="10"></textarea>
                    </div>
                    <div class="input-group">
                        <label for="email">Contact Email</label>
                        <input type="text" name="email" id="email" class="input-box" placeholder="Small website on wordpress">
                    </div>
                </form>
            </div>

        </div>
    </div>
    </div>
</section>